<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="form-container">
    <h2>Zaloguj się</h2>

    <!-- Formularz logowania -->
    <form action="#" th:action="@{/login}" method="POST" th:object="${user}">
        <div class="input-group">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>
        <div class="input-group">
            <label for="password">Hasło</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>

        <!-- Wyświetlanie komunikatu o błędzie -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <button type="submit" class="btn">Zaloguj się</button>
    </form>

    <p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
</div>
</body>
</html>
